{% extends "base.html" %}

{% block body %}
<html>
    <body>
        <div>
            <h2>Games Programming </h2>
            <p>Welcome to my Games Programming page. Here you will find computer game projects I have programmed and taken part in,as part of my Computer Games Development degree and
            also the projects I have done outside of it.</p>
            <p>Feel free to look around and if you have any questions, you can message me through the Contact selection.</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
        </div>
    </body>
</html>
{% endblock %}
